body {
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: aqua;
    padding: 30px;
    text-align: center;
    font-size: 32px;
    border: 2px solid red;
    margin: 10px;
}

nav {
    background-color: lightgreen;
    padding: 20px;
    border: 2px solid black;
    margin: 10px;
}

nav ul {
    list-style: none;
}

nav ul li {
    margin: 5px;
}

/* main content + sidebar wrapper */
.content-wrapper{
    display: flex;
    gap: 20px;
    margin: 10px;
}

article {
    flex: 3;
    background-color: gray;
    padding: 20px;
    border: 2px solid black;
}

/* Sidebar */
aside {
    flex: 1;
    background-color: goldenrod;
    padding: 20px;
    border: 2px solid black;
}

footer {
    background-color: turquoise;
    padding: 15px;
    text-align: center;
    border: 2px solid black;
    font-size: 30px;
}
